// h1{
//   margin-left: 650px;
// }

// .container{
//   margin-left : 300px;
// }


// form{
//   margin-left: 375px;
// }

// button{
//   margin-left: 100px;
//   margin-top: 30px;
 
// }

// .username{
//   margin-top: 50px;
// }

// .password{
//   margin-top: 30px;
// }

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
