
<body>
<div class="login-form">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="username" placeholder="Username" required [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="password" placeholder="Password" required [(ngModel)]="password">
    </mat-form-field>
    <button mat-raised-button type="submit">Login</button>
  </form>
</div>
</body>

<div class="loader-container" *ngIf="loading">
  <div class="loader"></div>
</div>

  
