<body>
<div class="register-form">
    <h2>Register</h2>
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
        
            <mat-form-field >
                
                <input  formControlName="displayName" type="text" matInput placeholder="Display Name">
            </mat-form-field>
        
            <mat-form-field >
                
                <input formControlName="email" type="email" matInput placeholder="Email">
            </mat-form-field>
        
            <mat-form-field >
                
                <input  formControlName="password" type="password" matInput placeholder="Password">
            </mat-form-field>
        
       
        <button mat-raised-button type="submit" >Signup</button>
    </form>
</div>
</body>