<mat-drawer-container class="sidenav-container">
  <mat-drawer #drawer class="sidenav" [opened]="opened" mode="side">
    <mat-nav-list>
      <mat-list-item *ngFor="let link of links">
        <a matLine [routerLink]="[link.url]">{{ link.name }}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>App Title</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
